@import "tailwindcss";

:root {
  --primary: #5482b4;
  --surface: #181818;
  --accent: #c2e8ff;

  --base: 14pt;
}

@theme {
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-accent: var(--accent);

  --text-base: var(--base);
}

body {
  font-size: var(--base);
}

* {
  @apply font-mono;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--surface) var(--surface);
}

@media (max-width: 1024px) {
  body {
    font-size: 11pt;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
  }

  h3 {
    font-size: 16pt;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 9pt;
  }

  main {
    padding: 4rem 0;
    padding-right: 2rem;
  }

  aside {
    padding: 4rem;
  }

  h1 {
    font-size: 20pt;
  }

  h2 {
    font-size: 16pt;
  }

  h3 {
    font-size: 14pt;
  }
}
