@import "tailwindcss";

:root {
  --primary: #5482b4;
  --surface: #181818;
  --accent: #c2e8ff;
}

@theme {
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-accent: var(--accent);

  --text-base: 14pt;
  --text-detail: 10pt;
}

body {
  @apply text-base;
}

* {
  @apply font-mono;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--surface) var(--surface);
}
