@import "tailwindcss";

@theme {
  --color-primary: #5482b4;
  --color-surface: #181818;
  --color-accent: #c2e8ff;

  --text-base: 14pt;
  --text-detail: 10pt;
}

body {
  @apply text-base;
}

* {
  @apply font-mono;
}
